@use 'styles/breakpoints' as *;
.dot {
  display: inline-block;
  margin-inline: 0.2em;
  margin-bottom: 0.3em;
  width: 0.3em;
  height: 0.3em;
  background-color: var(--testo-principale);
  border-radius: 50%;
}

.stories-header__desktop {
  display: none;
}
.menu-sidebar {
  display: none;
}
.stories {
  padding-block: 2em;
  padding-inline: 1em;
  opacity: 1;
}
.button {
  border-radius: 3rem;
  width: 60%;
  max-width: 200px;
  font-size: 0.8em;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.stories-header {
  min-height: 40vh;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--testo-discreto);
}
.stories-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .stories-count {
    font-size: 0.7em;
    font-weight: 800;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    text-align: center;
    color: var(--rosso-azione);
    background-color: color-mix(in srgb, var(--rosso-denuncia) 20%, transparent);
  }
}
.stories-manifesto {
  margin-top: 1em;
  border: 1px solid var(--rosso-denuncia);
  border-radius: 0.8em;
  background-color: color-mix(in srgb, var(--rosso-denuncia) 10%, transparent);
  padding: 1em;
  button {
    width: auto;
    display: inline-block;
    font-weight: 800;
    cursor: pointer;
    color: var(--rosso-denuncia);
    &:active {
      scale: 0.9;
    }
  }
}
.stories-search {
  display: flex;
  align-items: center;
  width: 100%;
  div {
    width: 30px;
    text-align: center;
  }
  svg {
    box-sizing: content-box;
    border-radius: 0.8em;
    color: var(--testo-secondario);
    border: 1px solid var(--testo-secondario);
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-block: 1em;
    padding-left: 1em;
  }
  input {
    color: var(--testo-discreto);
    border: 1px solid var(--testo-discreto);
    border-left: none;
    padding-inline: 1em;
    padding-block: 1em;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
.stories-filters {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  button {
    font-size: 0.8em;
    padding-block: 0.5em;
    padding-inline: 0.8em;
    background-color: var(--sfondo-secondario);
    border: 1px solid var(--testo-discreto);
    border-radius: 2em;
  }
  .is-active {
    color: var(--testo-principale);
    background-color: var(--rosso-denuncia);
  }
}
.stories-filters::-webkit-scrollbar {
  display: none;
}

// -------------MAIN-------------

.stories__main {
  margin-bottom: 3em;
}

.stories__feedbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
}

.stories__list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.manifesto__show-more-close {
  width: 100%;
  min-height: 70%;
  background-color: var(--sfondo-secondario);
  transform: translateY(100%);
  position: fixed;
  bottom: 0;
  z-index: 999;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.manifesto__show-more-open {
  animation: manifestoShowMoreIn 0.5s ease forwards;
}

.is-manifesto-open {
  opacity: 0.1;
}

.show-more-container {
  padding: 1em;
  color: var(--testo-discreto);
}
.show-more-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--testo-discreto);
  button {
    width: auto;
    color: var(--rosso-azione);
  }
}

.show-more-content {
  margin-top: 1em;
  padding-block: 1em;
  p {
    margin-bottom: 1em;
  }
  span {
    color: var(--rosso-denuncia);
    font-weight: 600;
  }

  .show-more-content__closing {
    font-style: italic;
    font-size: 0.9em;
  }
}

@keyframes manifestoShowMoreIn {
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@include da-wide {
  .stories {
    max-width: 500px;
    margin-inline: auto;
  }
}

@include da-desktop {
  .container {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .container > div {
    display: flex;
    width: 100%;
  }

  .stories__rigth-desktop {
    width: 100%;
  }

  .stories__cta-fixed.button-primary {
    display: none;
  }

  .stories-header__desktop + .stories {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .stories-header {
    display: none;
  }

  .stories-header__desktop,
  .menu-sidebar {
    padding-block: 1em;
    padding-inline: 1em;
  }

  .stories-header__desktop {
    position: relative;
    width: 100%;
  }
  .menu-sidebar {
    display: block;
    color: var(--testo-secondario);
    min-width: 300px;
    max-width: 350px;
    background-color: var(--sfondo-secondario);

    h2 {
      margin-block: 0.5em;
    }

    .sidebar-description {
      color: var(--testo-secondario);
      margin-bottom: 1em;
    }

    .sidebar-hero {
      padding-block: 1em;
      border-block: 1px solid var(--testo-discreto);
    }

    .sidebar-hero__header {
      display: flex;
      gap: 0.5em;
    }
  }

  .stories__desktop-sidebar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    .dot {
      background-color: var(--rosso-denuncia);
      margin-top: 0.3em;
    }
  }

  h1 {
    margin-block: 0.5em;
  }

  .desktop-content-feedbar {
    display: flex;
    gap: 1em;
  }

  svg {
    color: var(--testo-discreto);
  }

  .add-story-btn {
    position: absolute;
    top: 1em;
    right: 2em;
  }

  .stories {
    max-width: 100%;
    width: 100%;
  }

  .stories-header__desktop {
    display: block;
  }

  .sidebar-hero__main {
    padding: 0.8em;
  }

  .categories__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      color: var(--testo-secondario);
    }
  }
}
