<div class="setting-container">
  <div>
    <section class="setting-header">
      <div class="avatar">
        <div class="avatar-ring">🏙️</div>
      </div>
      <div>
        <div>
          <h3>aaa</h3>
        </div>
        <div class="story-card__meta">
          <div class="story-card__location">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-map-pin-icon lucide-map-pin">
                <path
                  d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                <circle cx="12" cy="10" r="3" />
              </svg>
            </span>
            <p>sottocasa</p>
          </div>
          <div class="story-card__date">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-calendar-days-icon lucide-calendar-days">
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <rect width="18" height="18" x="3" y="4" rx="2" />
                <path d="M3 10h18" />
                <path d="M8 14h.01" />
                <path d="M12 14h.01" />
                <path d="M16 14h.01" />
                <path d="M8 18h.01" />
                <path d="M12 18h.01" />
                <path d="M16 18h.01" />
              </svg>
            </span>
            <p>10-02-2026</p>
          </div>
        </div>
      </div>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-bell-ring-icon lucide-bell-ring">
          <path d="M10.268 21a2 2 0 0 0 3.464 0" />
          <path d="M22 8c0-2.3-.8-4.3-2-6" />
          <path
            d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326" />
          <path d="M4 2C2.8 3.7 2 5.7 2 8" />
        </svg>
      </span>
    </section>
    <section class="setting-main">
      <div class="hero-container">
        <h3>LA TUA VOCE</h3>
        <div>
          <div class="voice-count-container">
            <p class="voice-count">7</p>
            <p>contributi</p>
          </div>
          <p>hai contribuito con <strong>... segnalazioni</strong> alla città</p>
        </div>
        <div class="divider"></div>
        <div class="hero-footer">
          <div class="info-count">
            <p class="info-count-data">2</p>
            <p>Quartieri</p>
          </div>
          <div class="info-count">
            <p class="info-count-data info-count-err">0</p>
            <p>Non Approvati</p>
          </div>
          <div class="info-count">
            <p class="info-count-data">4/4/26</p>
            <p>Membro dal</p>
          </div>
        </div>
      </div>
      <div class="hero-container-editorial">
        <div>
          <h3>LA TUA VOCE</h3>
          <div>
            <div class="voice-count-container">
              <p class="voice-count-editorial">7</p>
              <p class="voice-count-container-text">contributi alla città</p>
            </div>
            <p>Ogni segnalazione è un atto di cura per Roma</p>
          </div>
        </div>
        <app-desktop-button-fancy [label]="label"></app-desktop-button-fancy>
      </div>
      <section class="setting-story-list">
        <h3>LE TUE SEGNALAZIONI</h3>
        <div class="story-list-container">
          @if (stories.length > 0) {
          @for (s of stories; track $index) {
          <app-setting-story-card [story]="s"></app-setting-story-card>
          }
          } @else {
          <p>0 storie publicate</p>
          }
        </div>
      </section>
    </section>
  </div>
  <section class="setting-side-editorial">
    <div class="user-meta">
      <div class="avatar">
        <div class="avatar-ring">🏙️</div>
      </div>
      <div>
        <p>{{stories[0].username}}</p>
        <div class="story-card__location">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-map-pin-icon lucide-map-pin">
              <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
          </span>
          <p>sottocasa</p>
        </div>
      </div>
    </div>
    <div class="user-statistics">dsfd</div>
    <div class="info">dFdf</div>

  </section>
</div>