@use 'styles/breakpoints' as *;

.header-manifesto-mobile {
  padding: 2rem 1.5rem;
}

.header-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include da-editoriale {
    p {
      max-width: 32ch;
    }
  }
}
