<div class="story-card-container">
  <div class="card-hero">
    <h2>{{ story.title }}</h2>
    <p>{{ story.description }}</p>
    <div>
      <div class="story-card__category">
        <p>{{ story.category }}</p>
      </div>
    </div>
    <span class="divider"></span>
  </div>
  <div class="card-footer">
    <div class="card-footer-main">
      <div class="avatar">
        <div class="avatar-ring">🏙️{{ story.avatar }}</div>
      </div>
      <div>
        <div>
          <h3>{{ story.username }}</h3>
          <div class="badjes">
            <p>🏙️</p>
            <p>🏙️</p>
          </div>
        </div>
        <div class="story-card__meta">
          <div class="story-card__location">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-map-pin-icon lucide-map-pin"
              >
                <path
                  d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                />
                <circle cx="12" cy="10" r="3" />
              </svg>
            </span>
            <p>{{ story.district }}</p>
          </div>
          <div class="story-card__date">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-calendar-days-icon lucide-calendar-days"
              >
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <rect width="18" height="18" x="3" y="4" rx="2" />
                <path d="M3 10h18" />
                <path d="M8 14h.01" />
                <path d="M12 14h.01" />
                <path d="M16 14h.01" />
                <path d="M8 18h.01" />
                <path d="M12 18h.01" />
                <path d="M16 18h.01" />
              </svg>
            </span>
            <p>{{ story.date }}</p>
          </div>
        </div>
      </div>
    </div>
    <div></div>
    <span></span>
  </div>
  <!-- ////////////////////////////////////////////////////////////// -->

  <div class="story-card__engagement">
    <button type="button" class="engagement-item is-like">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-up"
        >
          <path d="m18 15-6-6-6 6" />
        </svg>
      </span>
      <p>{{ story.likes }}</p>
    </button>

    <button type="button" class="engagement-item">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-message-square"
        >
          <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
        </svg>
      </span>
      <p>{{ story.commentsCount }}</p>
    </button>

    <button type="button" class="engagement-item">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-share-2"
        >
          <circle cx="18" cy="5" r="3" />
          <circle cx="6" cy="12" r="3" />
          <circle cx="18" cy="19" r="3" />
          <line x1="8.59" x2="15.42" y1="13.51" y2="17.49" />
          <line x1="15.41" x2="8.59" y1="6.51" y2="10.49" />
        </svg>
      </span>
    </button>
  </div>
</div>
