<header class="header-app-mobile">
  <!-- indicatori -->
  <div class="header-indicators">
    @for (_ of slogans; track $index; let i = $index) {
      <span [class.active]="i === currentIndex()"></span>
    }
  </div>

  <!-- contenuto -->
  <div class="header-inner-container is-animating">
    @for (s of slogans; track $index; let i = $index) {
      @if (i === currentIndex()) {
        <div class="header-slide">
          <img [src]="s.image" alt="" />
          <div class="header-inner">
            <h1>{{ s.title }}</h1>
            <p>{{ s.subtitle }}</p>
          </div>
        </div>
      }
    }
  </div>
</header>
