@use 'styles/breakpoints' as *;

.header-app-mobile {
  padding: 2rem 1.5rem;
}

.header-indicators {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.25rem;

  span {
    flex: 1;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;

    &.active {
      background-color: var(--testo-principale);
    }
  }
}

.header-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include da-editoriale {
    p {
      max-width: 32ch;
    }
  }
}
