* {
  box-sizing: border-box;
}
.profile-container {
  padding-top: 1em;
}
header,
main {
  padding-inline: 1em;
  margin-bottom: 3em;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-subtle);
  margin-top: 1em;
  margin-bottom: 2em;
}
main {
  padding-inline: 1em;
  .box.hero {
    width: 100%;
    min-height: 250px;
    margin-top: 1em;
    background-color: var(--sfondo-secondario);
  }
  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    margin-inline: auto;
    margin-top: 1.5em;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--border-subtle);
    svg {
      color: var(--testo-principale);
    }
  }

  .user-name {
    text-align: center;
    margin-top: 0.8em;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--testo-principale);
  }

  .box {
    width: 90px;
    height: 90px;
    border: 3px solid var(--border-subtle);
    border-radius: 0.8em;
  }

  .quartiere {
    text-align: center;
  }

  .featured-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
  }
  .badje {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--sfondo-secondario);
    border: 1px solid var(--border-subtle);
  }

  .avatars-container {
    div {
      margin-bottom: 0.2em;
      gap: 3px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    h2 {
      margin-top: 3em;
      margin-bottom: 0.8em;
    }
  }

  .colors-container {
    display: flex;
    gap: 0.6em;
    font-size: 0.6em;
    margin-top: 3em;
  }

  .color-container {
    width: 48px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .color {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--rosso-denuncia);
  }

  .missioni-container {
    width: 100%;
    margin-block: 3em;
    h2 {
      margin-bottom: 0.8em;
    }
  }

  .categories-container {
    display: flex;
    gap: 0.8em;
  }

  .category-container {
    display: flex;
    align-items: center;
    p {
      font-size: 0.8em;
    }
  }

  .attivita-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5b9bf5;
    margin-right: 0.2em;
  }
  .quartiere-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f5a45b;
    margin-right: 0.2em;
  }
  .continuita-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e06850;
    margin-right: 0.2em;
  }

  .impatto-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5bf5a4;
    margin-right: 0.2em;
  }

  .missioni-badjes-header__container {
    display: flex;
    align-items: center;
    margin-block: 0.5em;
    gap: 0.5em;
    h2 {
      font-size: 1em;
    }
  }

  .title-support {
    width: 4px;
    height: 16px;
    border-radius: 4px;
    background-color: var(--rosso-denuncia);
  }

  .missioni-attivita__badjes,
  .missioni-quartiere__badjes,
  .missioni-continuita__badjes,
  .missioni-impatto__badjes {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.8em;
    padding-block: 0.5em;
    background-color: var(--sfondo-secondario);
    border-radius: 12px;
    width: 100%;
    .badje {
      background-color: var(--rosso-denuncia);
    }
  }

  .badje-details-container {
    display: flex;
    flex-direction: column;
  }

  .badje-name {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--testo-principale);
  }

  .badje-description {
    font-size: 0.7em;
    color: var(--testo-secondario);
  }

  .state-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgreen;
    border: 1px solid var(--border-subtle);
  }
  .progress {
    display: flex;
    align-items: center;
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--testo-principale);
    margin: 0 2px;
  }
}
