@use 'styles/breakpoints' as *;

.shell {
  height: 100vh;
  border-top-left-radius: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--sfondo-principale);
}

.shell-main {
  flex: 1;
}

@include da-desktop {
  .shell {
    border-top-left-radius: 0;
  }
}
