@use 'styles/breakpoints' as *;

.shell {
  height: 100vh;
  border-top-left-radius: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--sfondo-principale);
  max-width: 1450px;
  margin-inline: auto;
}

.shell-main {
  flex: 1;
}
.nav-mobile {
  z-index: 1000;
  position: fixed;
  bottom: -100px;
  left: 55%;
  cursor: grab;
  touch-action: manipulation; /* Permette scroll, disabilita double-tap delay */
  will-change: transform; /* Optimize rendering */

  &:active {
    cursor: grabbing;
  }
}

@include da-mobile1 {
  .nav-mobile {
    left: 60%;
  }
}

@include da-mobile2 {
  .nav-mobile {
    left: 65%;
  }
}

@include da-mobile3 {
  .nav-mobile {
    left: 70%;
  }
}

@include da-wide {
  .nav-mobile {
    left: 75%;
  }
}

@include da-desktop {
  .shell {
    border-top-left-radius: 0;
  }

  .nav-mobile {
    display: none;
  }
}
